<!DOCTYPE HTML>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">

    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>

<style>
    html, body {
        cursor: url("{% static 'cursor/normal.png' %}"), auto;
        height: 100%;
        width: 100%;
    }

    a:hover {
        cursor: url("{% static 'cursor/normal-select.png' %}"), pointer;
    }
</style>

</html>

