{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>Flubber</title>
{% endblock head %}

{% block body %}
<div>
    <a href="{% url 'wow:home' %}">WoW</a>
    <a href="{% url 'sandbox:home' %}">Sandbox</a>
</div>

<style>
    body {
        background-color: blue;
        background-image: url("{% static 'crystal-p.webp' %}");
        background-repeat: repeat;
    }

    div {
        background-color: tan;
        border: 2px dashed blue;
        border-radius: 8px;
        margin: 20px 12px;
        padding: 12px;
        width: fit-content;
    }

    a {
        color: purple;
        font-size: 24pt;
        font-weight: bold;
    }
</style>
{% endblock body %}

