{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>Flubber</title>
{% endblock head %}

{% block body %}
<div id="nav__container">
    <div id="nav">
        <a href="{% url 'wow:home' %}">Bungle</a>
        <a href="{% url 'sandbox:home' %}">Sandbox</a>
    </div>
</div>

<style>
    body {
        background-color: blue;
        background-image: url("{% static 'crystal-p.webp' %}");
        background-repeat: repeat;
    }

    a {
        color: purple;
        font-size: 24pt;
        font-weight: bold;
    }

    #nav__container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #nav {
        background-color: tan;
        border: 2px dashed blue;
        border-radius: 8px;
        display: flex;
        gap: 16px;
        margin: 20px 12px;
        padding: 12px;
        width: fit-content;
    }
</style>
{% endblock body %}

