{% extends "home/base.html" %}
{% load static %}

{% block head %}
<title>Bungle</title>
{% endblock head %}

{% block body %}
<div id="content">
    <div>
        <div id="profile">
            <div id="avatar-container">
                <img src="{% static 'wow/moon.webp' %}" alt="moon">
                <img src="{{ c.thumbnail_url }}" alt="Bungle" class="avatar">
                <img src="{% static 'wow/wrath.webp' %}" alt="sun">
            </div>
            <p>
                <b>{{ c.name }}</b> {{ c.realm }}<br>
                {{ c.race }} {{ c.active_spec_name }} {{ c.class }}
            </p>
            <a href="{{ c.profile_url }}" target="_blank" class="leaving">View on raider.io</a>
        </div>

        <div id="mythic-stats">
            <p>Mythic+ Rating: {{ mythic_rating }}</p>
            <table>
                <tr>
                    <th>Dungeon</th>
                    <th>Highest</th>
                    <th>Total Runs</th>
                {% for row in stats %}
                <tr>
                    <td>{{ row.dungeon }}</td>
                    <td class="center">+{{ row.mythic_level }}</td>
                    <td class="center">{{ row.season_runs_total }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="past-runs">
        <h2>Recent Mythic+ Runs</h2>
        {% for d in c.mythic_plus_recent_runs %}
        <div class="dungeon-run" style="--bg-url: url('{{ d.background_image_url }}')">
            <div class="dungeon-run__header">
                <img src="{{ d.icon_url }}" alt={{ d.dungeon }} class="dungeon-run__icon">
                <span>
                    <b>+{{ d.mythic_level }} {{ d.dungeon }}</b><br>
                    Score: {{ d.score }}
                </span>
            </div>
            <p>
                {{ d.role }}<br>
                {{ d.completed_at }}
            </p>
            <a href="{{ d.url }}" target="_blank" class="leaving">raider.io</a>
        </div>
        {% endfor %}
    </div>
</div>


<style>
:root {
    --druid-orange: #FF7D0A
}

body {
    background-color: #210d44;
    display: flex;
    justify-content: center;
}

div {
    color: white;
}

a {
    color: white;
}

a.leaving:hover {
    cursor: url("{% static 'cursor/flightpath.png' %}"), pointer;
}

table {
    border: 2px solid grey;
    border-collapse: collapse;
    border-radius: 8px;
}

th, td {
    border: 1px solid grey;
    padding: 6px;
}


#avatar-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 100%;
}

#content {
    display: flex;
    gap: 32px;
    width: fit-content;
}

#profile {
    background-color: green;
    border: 2px solid grey;
    border-radius: 8px;
    padding: 16px 16px;
    height: fit-content;
    width: fit-content;
}

.avatar {
    border: 2px solid var(--druid-orange);
}

.center {
    text-align: center;
}

.dungeon-run {
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    border: 2px solid grey;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 12px 12px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.dungeon-run__header {
    align-items: center;
    display: flex;
    gap: 12px;
}

.dungeon-run__icon {
    border: 1px solid grey;
    display: inline;
}
</style>
{% endblock body %}

